html{
    width: 100%;
}

body{
    height: 100vh;
    /* background: radial-gradient(ellipse at bottom, #D55D92, #47126B ); */
    overflow-x: hidden;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
}

::selection{
    background: navy;
}

.navbar-brand{
    font-family: 'Lovelo', sans-serif;
    letter-spacing: 2.5px;
    font-size: 1.5rem;
    color: aliceblue;
    letter-spacing: 4px;
}

.navbar-brand:hover{
    color: #FFCDDA;
}

.nav-link{
    color: aliceblue;
    font-family: 'GlacialIndifferenceBold';
    font-weight: 600;
    letter-spacing: 2.5px;
}

.nav-link:hover{
    color: #FFCDDA;
}

.fa-hamburger{
    color: white;
}

.navbar{
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
}

.nav-active {
    background-color:#FFCDDA;
    box-shadow: 5px -1px 12px -5px grey;
}

.nav-active .fa-hamburger{
    color: #47126B;
}

.nav-active .nav-link{
    color: #47126B;
    font-weight: 600;
}

.nav-active .navbar-brand{
    color: #47126B;

}

.nav-active .nav-link:hover, .nav-active .navbar-brand:hover{
    color: #699BFF;
}

@media(min-width:992px){
    .navbar-expand-lg .navbar-collapse{
        width: 100%;
    }
}

html{
    scroll-behavior: smooth;
}
/* custom scroll bar */

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* home section styling */
.home{
    display: flex;
    background-image: linear-gradient(rgba(49, 3, 45, 0.5), rgba(112, 0, 65, 0.5)),
    url("/Images/banner.jpg");
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    letter-spacing: 0.5rem;
}
    /* height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5); */

.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 40px;
    color: #FFCDDA;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #ff9ab5;
    font-weight: 600;
}
.home .home-content a{
    display: inline-block;
    background: #47126B;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #47126B;
    transition: all 0.3s ease;
    letter-spacing: 0.2rem;
    text-decoration: none;

}
.home .home-content a:hover{
    color: #47126B;
    background: #FFCDDA;
}

.wrapper{
  display: flex;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: #FFCDDA;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: none;
  border-left: 2px solid #FFCDDA;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

.about{
    color: aliceblue;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #5F91FF;
}
.about .about-content .right p{
    font-size: 1.2rem;
    text-align: justify;
}
.about .about-content .right button{
    letter-spacing: 0.2rem;
    display: inline-block;
    background: #fff;
    color: #111;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #FFCDDA;
    transition: all 0.3s ease;
}
.about .about-content .right button:hover{
    background-color: #47126B;
    color: #fff;
}

.about .about-content, .services .serv-content, .skills .skills-content, .contact .contact-content, .teams .teams-content, .interests .interests-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;    
}


section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    letter-spacing: 0.3rem;
    font-family: 'GlacialIndifferenceBold', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #D55D92;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #699BFF;
    font-size: 1rem;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}


/* services section styling */
.services{
    color:#fff;
    background: #47126B;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after{
    background: #47126B;
    content: "I care about";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #111;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: #D55D92;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: #D55D92;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 35px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .serv-content .card p{
    font-size: 1rem;
}

.skills, .teams, .about{
    background: radial-gradient(ellipse at bottom, #47126B, #D55D92 );
    color: #fff;
}
/* 
.skills .title::after{
    content: "What I'm good at";
    background: none;
    color: #699BFF;
} */
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
    font-size: 1.1rem;
}
.skills .skills-content .left a{
    display: inline-block;
    background: #47126B;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #5F91FF;
    transition: all 0.3s ease-in;
    text-decoration: none;
}

.fa-linkedin{
    padding-left: 0.5rem;
}

.skills .skills-content .left a:hover{
    color: #47126B;
    background-color: aliceblue;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: aliceblue;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #5F91FF;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 70%;
}
.skills-content .right .js::before{
    width: 90%;
}
.skills-content .right .php::before{
    width: 75%;
}
.skills-content .right .mysql::before{
    width: 70%;
}


.interests{
    background-color: #47126B;
    color: aliceblue;
    display: flex;
    align-items: center;
}

.interests .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.interests .container .int-card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    margin-top: 0;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.interests .container .int-card .int-content{
    padding: 20px;
    text-align: center;
}

.interests .container .int-card .int-content h2{
    font-family: 'GlacialIndifferenceBold';
    position: absolute;
    top: -20px;
    right: 20px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.interests .container .int-card:hover .int-content h2{
    transform: translateY(0px);
    opacity: 1;

}

.interests .container .int-card .int-content h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.interests .container .int-card .int-content p{
    font-size: 1em;
    font-weight: 300;
}

.interests .fa-3x{
    color: #FFCDDA;
    padding-bottom: 4%;
}

.interests .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.interests .title{
    margin-bottom: 1rem;
}

/* project section */

/* teams section styling */

.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: crimson;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.teams .carousel .card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}


/* contact section styling */
.contact{
    color: aliceblue;
    background-color: #47126B;
}

.contact .title::after{
    content: "Get in touch";
    background: #47126B;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items:center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}

.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #fff;
}

.contact .contact-content h3{
    text-align: right;
}

/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.2rem;
}
footer span a{
    color: #FFCDDA;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
    color: #699BFF;
}


/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .nav-link{
        display: inline;
        z-index: 999;
    }
    .navbar-extended-lg, .collapse{
        width: 100%;
    }

    .container-fluid{
        width: 100vw;
    }

    .navbar .navbar-toggler{
        left: 0;
    }
    .navbar .navbar-nav a{
        display: inline-block;
        margin: 3px 0;
        font-size: 20px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content button{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .container-fluid, .navbar{
        width: 100vw;
    }
        .navbar .navbar-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 3px 0;
        font-size: 20px;
    }
    .navbar .navbar-nav a{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 3px 0;
        font-size: 20px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home{
        position: relative;
        overflow: hidden;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
    div .info{
        padding-right: 0;
        width: 80%;
        width: 80%;
    }
    .contact .right{
        display: flex;
        align-items: flex-start;
    }
}

@media (max-width: 500px) {
    .max-width{
        width: 100vw;
    }
    .home{
        position: relative;
        overflow: hidden;
    }
    .home .home-content .text-2{
        font-size: 50px;
    }
    .container-fluid, .navbar{
        width: 100vw;
    }
    .home .home-content .text-3{
        font-size: 27px;
        font-weight: 600;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
        width: 150px;
    }
    .contact .right{
        display: flex;
        align-items: flex-start;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
    div .info{
        padding-right: 0;
        width: 80%;
    }
}
